.user-details
  display: block
  padding: 2rem

  &__loader
    padding: 1rem
    color: #666
    font-weight: 300
    text-align: center

  &-cont
    display: table
    width: 100%

  &-ava
  &-info
    display: table-cell
    vertical-align: top

  &-ava
    width: 100px
    padding-right: 2rem

    &__img
      width: 100px
      height: @width
      border-radius: 50%
      display: block

  &-name
    font-size: 2rem
    font-weight: 300
    line-height: 1
    margin-bottom: .5rem

  &-email
  &-address
  &-bday
  &-created
    color: #333
    border-bottom: 1px solid #ccc

    &__label
      font-weight: 700
      width: 80px
      display: inline-block
      vertical-align: middle

    &__val
      font-weight: 300
      display: inline-block
      vertical-align: middle
      color: inherit

  &-info
    &-lst
      display: block
      list-style: none
