<div class="w-pager-cont">
  <span class="w-pager-label">
    <span ng-show="$ctrl.loading">Loading...</span>
    <span ng-hide="$ctrl.loading">
      <strong>{{$ctrl.range}}</strong> of <strong>{{$ctrl.total}}</strong>
    </span>
  </span>
  <button class="w-pager-prev" ng-click="$ctrl.prevHandler()" ng-disabled="$ctrl.loading || $ctrl.prevIsDisabled">
    <svg class="w-pager-prev__icn">
      <use xlink:href="assets/img/sprite.svg#next"></use>
    </svg>
  </button>
  <button class="w-pager-next" ng-click="$ctrl.nextHandler()" ng-disabled="$ctrl.loading || $ctrl.nextIsDisabled">
    <svg class="w-pager-next__icn">
      <use xlink:href="assets/img/sprite.svg#next"></use>
    </svg>
  </button>
</div>
