.w-logout
  &__btn
    background: #ff6347
    color: #fff
    height: 35px
    line-height: @height
    font-weight: 500
    width: 100%
    border-radius: 3px

    &:hover
      box-shadow: inset 0px 3px 5px 1px rgba(#000, .1)
      background-color: #e95a40
