<div class="w-users-cont">
  <div class="w-users-lst">
    <a ui-sref="cabinet.user({ userid: user._id })" class="w-users-itm" ng-repeat="user in $ctrl.users track by user._id">

      <p class="w-users-ava">
        <img class="w-users-ava__img" ng-src="{{ user.avatarUrl || 'assets/img/main/default-avatar.svg' }}" alt="" />
      </p>

      <p class="w-users-about">
        <span class="w-users-about__name">{{user.fullName}}</span>
        <span class="w-users-about__email">&lt;{{user.email}}&gt;</span>
      </p>

      <div class="w-users-info">
        <span class="w-users-address" title="{{user.address}}">
          <svg class="w-users-address__icn">
            <use xlink:href="assets/img/sprite.svg#address"></use>
          </svg>
        </span>

        <span class="w-users-bday" title="{{$ctrl.formatBday(user.birthdate)}}">
          <svg class="w-users-bday__icn">
            <use xlink:href="assets/img/sprite.svg#birthday"></use>
          </svg>
        </span>
      </div>

    </a>
  </div>

  <button ng-show="($ctrl.users.length >= $ctrl.limit) && $ctrl.shownManualLoading" ng-click="$ctrl.startLazyLoading()" class="w-users__more">Load more</button>

  <p class="w-users__loader" ng-show="$ctrl.loading">Retrieving...</p>
  <p class="w-users__empty" ng-show="!$ctrl.loading && $ctrl.isEmpty">Sorry, users not found!</p>
</div>
