doctype html
html

  head
    title mailer
    link(rel="stylesheet" href="/assets/css/common.css")
    link(rel="stylesheet" href="/assets/css/app.css")
    base(href="/")

  body(ng-app="app")
    app-container
    
    script(src="/assets/js/vendor.js")
    script(src="/assets/js/app.js")
