.error-page
  position: absolute
  width: 100%
  top: 50%
  height: 350px
  margin-top: -(@height / 2)
  background-color: #ff6347

  &__txt
    font-weight: 400
    font-size: 3rem
    text-align: center
    line-height: 350px
    text-transform: uppercase
    color: #fff
