.cabinet-main
  padding: (50/16)rem 0
  min-height: calc(100vh - 50px)

.cabinet-middle
  width: 1200px
  margin: 0 auto
  font-size: 0

.footer
  text-align: center
  height: 50px
  line-height: @height
  color: #666
  font-weight: 300
  background-color: #f6f6f6

.cabinet-side
  display: inline-block
  vertical-align: top
  font-size: 1rem
  width: 190px

.cabinet-content
  display: inline-block
  vertical-align: top
  font-size: 1rem
  width: calc(100% - 190px)

.cabinet-logout
  margin-bottom: .5rem
  padding-bottom: @margin-bottom
  height: 45px
  border-bottom: 1px solid #ccc

.cabinet-header
  border-bottom: 1px solid #ccc
  padding-bottom: .5em
  height: 45px
  padding-left: 2.5rem

.cabinet-viewport
  border: 1px solid #ccc
  border-radius: 0 3px 3px 3px

.cabinet-body
  padding: (10/16)rem 0 0 2.5rem
